<div class="background">
    <nav class="navbar">
        <h2><span class="headingtext">Test List</span></h2>
    </nav>

<!-- ----------------------------------------------------------------------------------------------------------------------- -->
    <div class="container">
        <div class="row justify-content-center pt-2 pb-2">
            <div class="col-md-5 FirstButtonContainer">
                <div>
                    <h4 class="boxheading"><span class="boxheadingtext">PHP Basic</span></h4>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md " routerLink="./php-mock-test/phpbasic-basic">Basic</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md " routerLink="./php-mock-test/phpbasic-condition">Conditions</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md " routerLink="./php-mock-test/phpbasic-function">Functions</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md " routerLink="./php-mock-test/phpbasic-array">Array</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md " routerLink="./php-mock-test/phpbasic-more">More</button>
                </div>
               
            </div>
            <div class="col-md-5 SecondButtonContainer">
                <div>
                    <h4 class="boxheading"><span class="boxheadingtext" >PHP Advanse</span></h4>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md " routerLink="php-oops-mocktest">Oops</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md " routerLink="php-oops-mocktest">Object</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md " routerLink="php-oops-mocktest">Class</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md " routerLink="php-oops-mocktest">Inheritance</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md " routerLink="php-oops-mocktest">More</button>
                </div>
            </div>
        </div>
    </div>
<!-- ----------------------------------------------------------------------------------------------------------------------- -->
    <div class="container">
        <div class="row justify-content-center pt-2 pb-2">
            <div class="col-md-5 ThirdButtonContainer">
                <div>
                    <h4 class="boxheading"><span class="boxheadingtext">Codeigniter Basic</span></h4>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Basic</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Installation</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Structure</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">First Program</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">More</button>
                </div>
               
            </div>
            <div class="col-md-5 FourthButtonContainer">
                <div>
                    <h4 class="boxheading"><span class="boxheadingtext">Codeigniter Advanse</span></h4>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Model</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">View</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Controller</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Filter</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">More</button>
                </div>
            </div>
        </div>
    </div>
<!-- ----------------------------------------------------------------------------------------------------------------------- -->
    <div class="container">
        <div class="row justify-content-center pt-2 pb-2">
            <div class="col-md-5 FifthButtonContainer">
                <div>
                    <h4 class="boxheading"><span class="boxheadingtext">MySQL Basic</span></h4>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Basic</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Database</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Table</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Edit/Update</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">More</button>
                </div>
               
            </div>
            <div class="col-md-5 SixthButtonContainer">
                <div>
                    <h4 class="boxheading"><span class="boxheadingtext">MySQL Advanse</span></h4>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Query Builder</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">Join</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">CRUD</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">SQL Setting</button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-md ">More</button>
                </div>
            </div>
        </div>
    </div>
<!-- ----------------------------------------------------------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------------------------------------------------------- -->


</div>
