<!-- ------------------------------------------------------------------------------------- -->
<nav class="navbar">
    <span class="SearchIconContainer">
           
      <i class="fa fa-bars" aria-hidden="true" (click)="ShowHideSideBar()"></i>
    
    </span>
  
      <h3>
        
        <span class="Headingtext">C4 Solution</span>
      
      </h3>
         <div class="col-sm-6 InputboxColoum">
  
         <form [formGroup]="SearchField" (keyup)="SearchAction()">
          <input type="text" formControlName="FieldValue" class="form-control">
         </form>
       
         </div>
        
         <span class="SearchIconContainer">
           
          <i class="fa fa-search" aria-hidden="true"></i>
        
        </span>
       <button class="btn btn-light btn-md active navbarbutton">Add Link</button>
  </nav>
  <!-- ----------------------------------------------------- -->
  <!-- Sidebar -->
  <div *ngIf="ActivateWorker" class="SidebarBackground fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 Sidebarcolumn">
          Hello
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------- -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{FetchValue}}
      </div>
    </div>
  </div>
  <!-- ------------------------------------------------------------------------------------- -->
  