<div data-aos="fade-up"
     data-aos-easing="linear"
     data-aos-duration="1500"  class="FirstContainer">
    
     Hello Aos Animation
</div>
<div data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500"  class="SecondContainer">
    
     Hello Aos Animation
</div>
<div data-aos="fade-right"
     data-aos-easing="linear"
     data-aos-duration="1500"  class="ThirdContainer">
    
     Hello Aos Animation
</div>
<div data-aos="fade-up"
     data-aos-easing="linear"
     data-aos-duration="1500"  class="FourthContainer">
    
     Hello Aos Animation
</div>

<!-- <span data-aos="fade-up"  data-aos-easing="linear" data-aos-duration="1500">Hello World</span> -->