<br>
<h3 appSweetTitle>Angular Directive</h3>

<div class="container">
    <div class="row">
        <div class="col-md-4 p-2">
            <div class="card shadow p-2">
                <h5 appSweetTitle>Sweet Card Swift</h5>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, sequi omnis ea
                dicta deleniti, maxime eos optio illum veritatis ad, aliquam quam dolorum fuga
                eaque?
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="card shadow p-2">
                <h5 appSweetTitle>Sweet Card Excel</h5>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, sequi omnis ea
                dicta deleniti, maxime eos optio illum veritatis ad, aliquam quam dolorum fuga
                eaque?
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="card shadow p-2">
                <h5 appSweetTitle>Sweet Card Swim</h5>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, sequi omnis ea
                dicta deleniti, maxime eos optio illum veritatis ad, aliquam quam dolorum fuga
                eaque?
            </div>
        </div>
    </div>
</div>