<div class="sidebar">
    <div>
        <i class="fas fa-th-large m- sidebar-icon" (click)="showHideDashbardSidebar()"></i>
    </div>
    <div>
        <i class="fab fa-youtube m-2 sidebar-icon " (click)="showHideWhatsappMenuSidebar()"></i>
    </div>
</div>

<div class="dashboard-menu bg-light" id="dashboardMenu">
    <div class="card m-2 p-2">
        <h5>Dashborad</h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque accusamus reiciendis vero
        rerum harum eveniet quasi facere quae vel nobis quisquam facilis, nam voluptatem excepturi
        delectus, temporibus nostrum minima dolorum eius architecto veniam dolorem voluptate quam
        beatae. Velit adipisci deleniti illo libero, aperiam perspiciatis suscipit id harum ut
        veniam! Inventore aspernatur dolore eos ipsum vitae beatae nemo aliquam pariatur ipsa minima
        asperiores vel nulla, molestias maiores voluptatum suscipit earum sapiente non tenetur
        debitis incidunt laudantium iste ab? Repellat nam rem corporis voluptatum similique enim,
        expedita consequuntur voluptates optio sed vero explicabo, quam fuga voluptas repellendus
        odio et neque esse earum dicta. Doloribus repellendus reprehenderit ullam magnam molestiae
        eum exercitationem iusto natus deserunt ducimus veniam, ratione libero in! Necessitatibus
        enim adipisci commodi quisquam minus, blanditiis dolor nesciunt impedit. Quasi atque
        necessitatibus, ea, recusandae aperiam commodi voluptas illum unde, autem harum vero
        repellat fugit illo eaque. Cumque provident eligendi necessitatibus debitis culpa vitae
        ratione doloremque perspiciatis soluta repellat expedita, voluptatum aut officiis natus
        quisquam nam nulla, esse voluptatem aliquid veniam commodi quos? Atque necessitatibus culpa
        nihil, soluta suscipit consequuntur molestias harum natus quas laborum maiores, illo
        exercitationem dolorum officia distinctio facilis ducimus incidunt mollitia. Nulla laborum
        voluptates accusamus voluptate minima. Reiciendis odit sint quae amet cumque voluptate
        consectetur, id enim voluptates natus eum repellat quam omnis. Veritatis quidem voluptatem,
        doloribus voluptatum voluptatibus quaerat consequuntur commodi! Nihil deleniti, sed earum
        excepturi harum repellendus dignissimos cum commodi voluptatibus ducimus. Quibusdam
        laboriosam iure, perspiciatis temporibus architecto, tenetur delectus ipsam hic, odit sunt
        animi ullam reiciendis eius exercitationem quasi eligendi aspernatur possimus voluptatem
        velit nesciunt tempore labore distinctio sint impedit! Accusamus dolore, cumque omnis
        assumenda magni maiores reprehenderit. Autem necessitatibus vitae vel laborum sunt
        praesentium quod voluptatibus magnam. Voluptatum quia alias laboriosam enim similique itaque
        tempore eos culpa cumque, in modi eaque voluptas, laudantium, iure officiis veritatis quasi!
        Ea illum placeat eaque aperiam reiciendis corrupti perspiciatis possimus recusandae
        obcaecati officia omnis incidunt eos, repellendus dignissimos similique quisquam hic
        laboriosam. Earum quae modi, sint, doloribus quaerat consequuntur tempore eum, rerum quos
        ullam esse enim quasi officia eius non ipsum maxime. Optio suscipit sed esse ad consequatur
        mollitia eligendi minus aspernatur itaque, tenetur repellat in sint repellendus voluptates
        ullam sapiente, nemo, earum magni aliquid delectus id. Rerum provident fugiat, libero
        obcaecati placeat cupiditate autem explicabo deserunt in praesentium eius molestiae.
        Recusandae numquam illo maxime sunt, quia adipisci ea nemo doloribus nulla voluptate ipsa
        voluptates voluptatum quidem! Blanditiis sequi error molestiae aliquid iusto nemo culpa
        nostrum, laboriosam iste ullam aspernatur et eius voluptas doloribus dolor facilis
        perspiciatis accusantium nesciunt nihil autem! Laborum adipisci natus dolorem magni nisi ex
        enim tempore soluta at, atque voluptatem excepturi autem repellat accusantium quidem quis
        quod? Omnis error, inventore perspiciatis ipsam eius eligendi nisi maiores placeat
        repudiandae consectetur dolor commodi soluta delectus, expedita voluptatum totam quidem
        possimus voluptatibus eum quasi. Tempore error blanditiis culpa suscipit cupiditate eius
        magnam voluptate ducimus fugiat pariatur molestias soluta vero quis, officiis, fuga nobis
        labore doloremque? Excepturi, maxime adipisci. Natus corporis non laborum minus fugiat sint
        assumenda eos alias.

    </div>
</div>



<div class="whatsapp-menu bg-light" id="whatsappMenu">
    <div class="card m-2 p-2">
        <h5>Youtube</h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque accusamus reiciendis vero
        rerum harum eveniet quasi facere quae vel nobis quisquam facilis, nam voluptatem excepturi
        delectus, temporibus nostrum minima dolorum eius architecto veniam dolorem voluptate quam
        beatae. Velit adipisci deleniti illo libero, aperiam perspiciatis suscipit id harum ut
        veniam! Inventore aspernatur dolore eos ipsum vitae beatae nemo aliquam pariatur ipsa minima
        asperiores vel nulla, molestias maiores voluptatum suscipit earum sapiente non tenetur
        debitis incidunt laudantium iste ab? Repellat nam rem corporis voluptatum similique enim,
        expedita consequuntur voluptates optio sed vero explicabo, quam fuga voluptas repellendus
        odio et neque esse earum dicta. Doloribus repellendus reprehenderit ullam magnam molestiae
        eum exercitationem iusto natus deserunt ducimus veniam, ratione libero in! Necessitatibus
        enim adipisci commodi quisquam minus, blanditiis dolor nesciunt impedit. Quasi atque
        necessitatibus, ea, recusandae aperiam commodi voluptas illum unde, autem harum vero
        repellat fugit illo eaque. Cumque provident eligendi necessitatibus debitis culpa vitae
        ratione doloremque perspiciatis soluta repellat expedita, voluptatum aut officiis natus
        quisquam nam nulla, esse voluptatem aliquid veniam commodi quos? Atque necessitatibus culpa
        nihil, soluta suscipit consequuntur molestias harum natus quas laborum maiores, illo
        exercitationem dolorum officia distinctio facilis ducimus incidunt mollitia. Nulla laborum
        voluptates accusamus voluptate minima. Reiciendis odit sint quae amet cumque voluptate
        consectetur, id enim voluptates natus eum repellat quam omnis. Veritatis quidem voluptatem,
        doloribus voluptatum voluptatibus quaerat consequuntur commodi! Nihil deleniti, sed earum
        excepturi harum repellendus dignissimos cum commodi voluptatibus ducimus. Quibusdam
        laboriosam iure, perspiciatis temporibus architecto, tenetur delectus ipsam hic, odit sunt
        animi ullam reiciendis eius exercitationem quasi eligendi aspernatur possimus voluptatem
        velit nesciunt tempore labore distinctio sint impedit! Accusamus dolore, cumque omnis
        assumenda magni maiores reprehenderit. Autem necessitatibus vitae vel laborum sunt
        praesentium quod voluptatibus magnam. Voluptatum quia alias laboriosam enim similique itaque
        tempore eos culpa cumque, in modi eaque voluptas, laudantium, iure officiis veritatis quasi!
        Ea illum placeat eaque aperiam reiciendis corrupti perspiciatis possimus recusandae
        obcaecati officia omnis incidunt eos, repellendus dignissimos similique quisquam hic
        laboriosam. Earum quae modi, sint, doloribus quaerat consequuntur tempore eum, rerum quos
        ullam esse enim quasi officia eius non ipsum maxime. Optio suscipit sed esse ad consequatur
        mollitia eligendi minus aspernatur itaque, tenetur repellat in sint repellendus voluptates
        ullam sapiente, nemo, earum magni aliquid delectus id. Rerum provident fugiat, libero
        obcaecati placeat cupiditate autem explicabo deserunt in praesentium eius molestiae.
        Recusandae numquam illo maxime sunt, quia adipisci ea nemo doloribus nulla voluptate ipsa
        voluptates voluptatum quidem! Blanditiis sequi error molestiae aliquid iusto nemo culpa
        nostrum, laboriosam iste ullam aspernatur et eius voluptas doloribus dolor facilis
        perspiciatis accusantium nesciunt nihil autem! Laborum adipisci natus dolorem magni nisi ex
        enim tempore soluta at, atque voluptatem excepturi autem repellat accusantium quidem quis
        quod? Omnis error, inventore perspiciatis ipsam eius eligendi nisi maiores placeat
        repudiandae consectetur dolor commodi soluta delectus, expedita voluptatum totam quidem
        possimus voluptatibus eum quasi. Tempore error blanditiis culpa suscipit cupiditate eius
        magnam voluptate ducimus fugiat pariatur molestias soluta vero quis, officiis, fuga nobis
        labore doloremque? Excepturi, maxime adipisci. Natus corporis non laborum minus fugiat sint
        assumenda eos alias.

    </div>
</div>