<!-- ------------------------------------------------------------------------------------------------ -->
<div class="HomePageBackground">
    <img src="assets/Image/bluewhale.jpg"  id="MainImage" alt="">
    <img src="assets/Image/newfish.jpg"  id="FirstImage" alt="">
    <img src="assets/Image/mountain.jpg"   id="SecondImage" alt="">
    <img src="assets/Image/seathings.jpg"   id="ThirdImage" alt="">
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="Navbar">
    <div class="row mr-1 ml-1">
        <div class="col-md-12">
            <h1 class="HeadingTextBig">CodeIgniter Solution</h1>
            <h1 class="HeadingTextSmall">C4 Solution</h1>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="PngAnimation">
    <img src="assets/PngImage/mouse.png" id="MouseImage" alt="">
    <img src="assets/PngImage/laptoppng.png" id="LaptopImage" alt="">
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="LoginButton">
    <button class="btn btn-outline-light btn-md"><span class="CursiveFont">Login</span></button>
</div>

<!-- ------------------------------------------------------------------------------------------------ -->
<div class="TopbuttonContainer">
    <div>
        <button class="btn btn-outline-dark ">Link</button>
    </div>
    <div>
        <button class="btn btn-outline-dark ">Link</button>
    </div>
    <div>
        <button class="btn btn-outline-dark ">Link</button>
    </div>
    <div>
        <button class="btn btn-outline-dark ">Link</button>
    </div>
    <div>
        <button class="btn btn-outline-dark ">Link</button>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst">
        <div class="row">
            <div class="col-md-5">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <br><br>
               <h4 style="text-align: center;">PHP</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam quisquam! Sit tenetur vitae, temporibus quaerat totam esse ipsam ipsa laudantium in ex enim natus commodi incidunt exercitationem optio magnam dignissimos fugiat assumenda, quos deleniti harum. Praesentium, dolor voluptate!</p>
            </div>
        </div>
    </div>

</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst">
        <div class="row">

            <div class="col-md-7">
                <br><br>
               <h4 style="text-align: center;">PHP OOPS</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam quisquam! Sit tenetur vitae, temporibus quaerat totam esse ipsam ipsa laudantium in ex enim natus commodi incidunt exercitationem optio magnam dignissimos fugiat assumenda, quos deleniti harum. Praesentium, dolor voluptate!</p>
            </div>

            <div class="col-md-5">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                </div>

            </div>
           
        </div>
    </div>

</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst">
        <div class="row">
            <div class="col-md-5">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <br><br>
               <h4 style="text-align: center;">CODEIGNITER</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam quisquam! Sit tenetur vitae, temporibus quaerat totam esse ipsam ipsa laudantium in ex enim natus commodi incidunt exercitationem optio magnam dignissimos fugiat assumenda, quos deleniti harum. Praesentium, dolor voluptate!</p>
            </div>
        </div>
    </div>

</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst">
        <div class="row">

            <div class="col-md-7">
                <br><br>
               <h4 style="text-align: center;">MYSQL</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam quisquam! Sit tenetur vitae, temporibus quaerat totam esse ipsam ipsa laudantium in ex enim natus commodi incidunt exercitationem optio magnam dignissimos fugiat assumenda, quos deleniti harum. Praesentium, dolor voluptate!</p>
            </div>

            <div class="col-md-5">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                </div>

            </div>
           
        </div>
    </div>

</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst">
        <div class="row">
            <div class="col-md-5">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">ClickMe</button>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <br><br>
               <h4 style="text-align: center;">MOCK TEST</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam quisquam! Sit tenetur vitae, temporibus quaerat totam esse ipsam ipsa laudantium in ex enim natus commodi incidunt exercitationem optio magnam dignissimos fugiat assumenda, quos deleniti harum. Praesentium, dolor voluptate!</p>
            </div>
        </div>
    </div>

</div>

<!-- ------------------------------------------------------------------------------------------------ -->

