<app-admin-navbar></app-admin-navbar>

<div class="FirstSection">
    <div class="Middle Section">
        <a href="#" routerLink="../home">
            <div class="col-md-2 btn btn-outline-dark m-2">Home</div>
        </a>
        <a href="#" routerLink="../users">
            <div class="col-md-2 btn btn-outline-dark m-2">Users</div>
        </a>
        <a href="#">
            <div class="col-md-2 btn btn-outline-dark m-2">Subject Details</div>
        </a>
        <a href="#">
            <div class="col-md-2 btn btn-outline-dark m-2">Test Details</div>
        </a>
        <a href="#">
            <div class="col-md-2 btn btn-outline-dark m-2">Documents</div>
        </a>
        <a href="#">
            <div class="col-md-2 btn btn-outline-dark m-2">Notification</div>
        </a>






    </div>
</div>

<div class="buttonContainer clearfix">


    <div class="firstContainer p-3 float-left" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
        <button class="btn btn-outline-dark w-100 my-1" routerLink="testbook">TestBook</button>
        <button class="btn btn-outline-dark w-100 my-1" routerLink="testbook/new-testbook">New TestBook</button>
        <button class="btn btn-outline-dark w-100 my-1" routerLink="testbook/testbook-subject">Add Subject</button>
        <button class="btn btn-outline-dark w-100 my-1" routerLink="testbook/testbook-lession">Add Lession</button>
        <button class="btn btn-outline-dark w-100 my-1" routerLink="testbook/testbook-question">Add Question</button>
    </div>

</div>
<div class="buttonContainer clearfix">


    <div class="firstContainer p-3 float-right" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
        <button class="btn btn-outline-dark w-100 my-1" routerLink="readbook">ReadBook</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
    </div>

</div>
<div class="buttonContainer clearfix">


    <div class="firstContainer p-3 float-left" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
        <button class="btn btn-outline-dark w-100 my-1" routerLink="../mock-test-list">Mock Test List</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
    </div>

</div>
<div class="buttonContainer clearfix">


    <div class="firstContainer p-3 float-right" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
    </div>

</div>

<div style="height: 50vh;background-color: rgba(0, 0, 0, 0.747);">
    <footer>
        <h1 style="color: white;" class="pl-2">
            Solid Solution with Me
        </h1>
        <span class="pl-2" style="color: white;">solidsolution@gmail.com</span>
        <br>
        <span class="pl-2" style="color: white;">Contact :- 06294678812</span>
    </footer>
    <div class="m-2">
        <button class="btn btn-light pl-5 pr-5" routerLink="../home"><span style="font-weight: bold;">Home
            </span></button>
    </div>
</div>