<app-admin-navbar></app-admin-navbar>


<div class="buttonContainer clearfix" >


    <div class="firstContainer p-3 float-left"data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
        <button class="btn btn-outline-dark w-100 my-1" routerLink="testbook">TestBook</button>
        <button class="btn btn-outline-dark w-100 my-1" routerLink="testbook/new-testbook">New TestBook</button>
        <button class="btn btn-outline-dark w-100 my-1" routerLink="testbook/testbook-subject">Add Subject</button>
        <button class="btn btn-outline-dark w-100 my-1" routerLink="testbook/testbook-lession">Add Lession</button>
        <button class="btn btn-outline-dark w-100 my-1" routerLink="testbook/testbook-question">Add Question</button>
    </div>

</div>
<div class="buttonContainer clearfix" >


    <div class="firstContainer p-3 float-right"data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
        <button class="btn btn-outline-dark w-100 my-1" routerLink="readbook">ReadBook</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
    </div>

</div>
<div class="buttonContainer clearfix" >


    <div class="firstContainer p-3 float-left"data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
        <button class="btn btn-outline-dark w-100 my-1" routerLink="../mock-test-list">Mock Test List</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
    </div>

</div>
<div class="buttonContainer clearfix" >


    <div class="firstContainer p-3 float-right"data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
        <button class="btn btn-outline-dark w-100 my-1">Click Me</button>
    </div>

</div>