
<div class="homepagebackground">

    <div class="backgroundcover">
        <img class="coverimage" src="/assets/Image/halflappy.jpg" alt="">
      
       <a routerLink="../home">
        <button class="btn btn-outline-light bnt-md cssbuttongetstart">Get Start</button>
       </a>
         
        <button class="btn btn-outline-light bnt-md cssbuttonlogin"><span class="logintex">Login</span></button>
        
     
    </div>
</div>

<div class="imageicon" ><samp class="appname">Strong FactS </samp></div>
<div class="bottomtextmain">How excellent i can do it depends on your mind</div>
  
