<!-- ------------------------------------------------------------------------------------- -->

<app-testbook-navbar></app-testbook-navbar>
<app-testbook-menubar></app-testbook-menubar>

<!-- ------------------------------------------------------------------------------------- -->

<div *ngIf="ActiveClass" id="sidebar" class="sidebarbackground fixed-top fixed-bottom">


</div>
<!-- ----------------------------------------------------- -->
<div class="sidebarshowhide fixed-top">
  <i class="fa fa-arrow-circle-o-right sidebararrow" aria-hidden="true"></i>
</div>
<!-- ------------------------------------------------------------------------------------- -->
<div class="background">
    <div class="container">
      <div class="row">

     
        <!-- ----------------------------------------------------- -->


        <div class=" col-md-12" style="border: 1px solid gray;">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, ullam magnam delectus ut mollitia numquam distinctio saepe accusamus enim sequi vitae rerum hic reprehenderit illo ratione eos ducimus cupiditate incidunt!
        </div>
           <div class="col-md-12">

             <button style="float: right;" (click)="SidebarShowHide()">click</button>
           </div>

        <!-- ----------------------------------------------------- -->
      </div>
    </div>
</div>

<!-- ------------------------------------------------------------------------------------- -->
