<!-- ------------------------------------------------------------------------------------------------ -->
<div class="HomePageBackground">
    <img src="assets/Image/mountain.jpg"  id="MainImage" alt="">
    <img src="assets/Image/newfish.jpg"  id="FirstImage" alt="">
    <img src="assets/Image/mountain.jpg"   id="SecondImage" alt="">
    <img src="assets/Image/seathings.jpg"   id="ThirdImage" alt="">
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="Navbar">
    <div class="row mr-1 ml-1">
        <div class="col-md-12">
            <h1 class="HeadingTextBig">CodeIgniter Solution</h1>
            <h1 class="HeadingTextSmall">C4 Solution</h1>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
 <div class="learningtext">
     <h2 class=" learntextstyle">Learn PHP, PHP Oops, CodeIgniter, MYSQL</h2>
     <h5 class=" learntextstyle">& Get multiple mock test for know your knowledge</h5>
 </div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="PngAnimation">
    <img src="assets/PngImage/mouse.png" id="MouseImage" alt="">
    <img src="assets/PngImage/laptoppng.png" id="LaptopImage" alt="">
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="LoginButton">
    <button class="btn btn-outline-light btn-md" (click)="GotoLogin()"><span class="CursiveFont">Login</span></button>
</div>

<!-- ------------------------------------------------------------------------------------------------ -->
<div class="TopbuttonContainer">
    <div>
        <button class="btn btn-outline-dark ">SOLUTION LIST</button>
    </div>
    <div>
        <button class="btn btn-outline-dark " (click)="GotoPhp()">PHP</button>
    </div>
    <div>
        <button class="btn btn-outline-dark " (click)="GotoPhpOpps()">PHP OOPS</button>
    </div>
    <div>
        <button class="btn btn-outline-dark " (click)="GotoCodeigniter()">CODEIGNITER</button>
    </div>
    <div>
        <button class="btn btn-outline-dark " (click)="GotoMysql()">MYSQL</button>
    </div>
    <div>
        <button class="btn btn-outline-dark " (click)="GotoMockTest()">MOCK TEST</button>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst" id="php" >
        <div class="row">
            <div class="col-md-5">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">PHP Basic</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Condition</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Array</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Function</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">More</button>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <br><br>
               <h4 style="text-align: center;">PHP</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam quisquam! Sit tenetur vitae, temporibus quaerat totam esse ipsam ipsa laudantium in ex enim natus commodi incidunt exercitationem optio magnam dignissimos fugiat assumenda, quos deleniti harum. Praesentium, dolor voluptate!</p>
            </div>
        </div>
    </div>

</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst" id="phpoops">
        <div class="row">

            <div class="col-md-7 ">
                <br><br>
               <h4 style="text-align: center;">PHP OOPS</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam quisquam! Sit tenetur vitae, temporibus quaerat totam esse ipsam ipsa laudantium in ex enim natus commodi incidunt exercitationem optio magnam dignissimos fugiat assumenda, quos deleniti harum. Praesentium, dolor voluptate!</p>
            </div>

            <div class="col-md-5 ">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Introduction</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Object & Class</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Inheritance</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Polymorphism</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">More</button>
                    </div>
                </div>

            </div>
           
        </div>
    </div>

</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst" id="codeigniter">
        <div class="row">
            <div class="col-md-5">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Introduction</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Folder Structure</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Welcome Page</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">MCV Details</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">More</button>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <br><br>
               <h4 style="text-align: center;">CODEIGNITER</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam quisquam! Sit tenetur vitae, temporibus quaerat totam esse ipsam ipsa laudantium in ex enim natus commodi incidunt exercitationem optio magnam dignissimos fugiat assumenda, quos deleniti harum. Praesentium, dolor voluptate!</p>
            </div>
        </div>
    </div>

</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst" id="mysql">
        <div class="row">

            <div class="col-md-7">
                <br><br>
               <h4 style="text-align: center;">MYSQL</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam quisquam! Sit tenetur vitae, temporibus quaerat totam esse ipsam ipsa laudantium in ex enim natus commodi incidunt exercitationem optio magnam dignissimos fugiat assumenda, quos deleniti harum. Praesentium, dolor voluptate!</p>
            </div>

            <div class="col-md-5">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Introduction</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Database</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Table</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">Important Query</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">More</button>
                    </div>
                </div>

            </div>
           
        </div>
    </div>

</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst" id="mocktest">
        <div class="row">
            <div class="col-md-5">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton" routerLink="../mock-test-list">TEST LIST</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">PHP</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">PHP OOPS</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">CODEIGNITER</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton">MYSQL</button>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <br><br>
               <h4 style="text-align: center;">MOCK TEST</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quibusdam quisquam! Sit tenetur vitae, temporibus quaerat totam esse ipsam ipsa laudantium in ex enim natus commodi incidunt exercitationem optio magnam dignissimos fugiat assumenda, quos deleniti harum. Praesentium, dolor voluptate!</p>
            </div>
        </div>
    </div>

</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="SectionFirstBackground">
    
    <div class="container SectionFirst" id="LoginPannel">
        <div class="row justify-content-center">
            <div class="col-md-5">

                <div class="ButtonContainer">
                    <span class="CursiveFont"><h3>First of all login please.</h3></span>
                </div>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">

                <div class="ButtonContainer">
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton" routerLink="../login">Go to Login</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-danger SolutionLinkButton" routerLink="../signup">Go to Signup</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- ------------------------------------------------------------------------------------------------ -->

