<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 ButtonColumn">
                
                <button class="btn btn-sm" routerLink="/admin">Home</button>
            
            </div>
            <div class="col-lg-2 col-md-4 ButtonColumn">
                
                <button class="btn btn-sm" routerLink="/admin/testbook">Testbook</button>
            
            </div>
            <div class="col-lg-2 col-md-4 ButtonColumn">
                
                <button class="btn btn-sm" routerLink="/admin/testbook/new-testbook">New Testbook</button>
            
            </div>
            <div class="col-lg-2 col-md-4 ButtonColumn">
                
                <button class="btn btn-sm active" routerLink="/admin/testbook/testbook-subject">Subject</button>
            
            </div>
            <div class="col-lg-2 col-md-4 ButtonColumn">
                
                <button class="btn btn-sm" routerLink="/admin/testbook/testbook-lession">Lession</button>
            
            </div>
            <div class="col-lg-2 col-md-4 ButtonColumn">
                
                <button class="btn btn-sm" routerLink="/admin/testbook/testbook-question">Question</button>
            
            </div>
          
        </div>
    </div>
</div>
